*{
	margin: 0;                     /*Comentario em CSS3*/
	padding: 0;
	}

body{
	background-color: rgba(212, 213, 233, 0.603);
}	


/*Bara branca com logo, email e senha*/
#barra-branca{
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(34, 103, 252);
	font-size: 20pt;
	margin-top: 5px;
	margin-left: 150px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 1px 1px 0px rgba(65, 63, 63, 0.377);
	padding: 10px;
	padding-right: 13px 13px 13px;
    width: auto;
	display: block;
	
}
 
/*Logo do facebook*/
img{
	width: 120px;
	margin-top: -22px;
   
}

/*logo do facebook 2*/
#facebook-logo{
	margin-top: 8px;
}

/*menu de inform para senhas*/
#encontrar-senha{
	float: right;
	margin-top: 100px;
	margin-right: 420px;
	display: block;
	text-align: center;
	background-color: rgb(250, 250, 250);
	width: 560px;
	height: 255px;
	box-shadow: 1px 1px 1px 1px rgba(119, 119, 119, 0.377);
	border-radius: 2%;
}

/*Barra com numero de celular*/
#numero{
	width: 495px;
	height: 50px;
	font-size: 20px;
	border-radius: 6px;
	border: solid 1px #b1b1b1;
	margin-top: 30px;
	
}

/*Botão cancelar*/
#cancelar{
	color: rgba(27, 27, 27, 0.808);
	background-color: rgb(197, 195, 195);
	font-size: 15px;
	font-weight: 600;
	border-radius: 6px;
	border: solid 1px #ffffff;
	margin-top: 16px;
	margin-left: 295px;
	width: 100px;
	height:37px;
}

/*Botão pesquisar*/
#pesquisar{
	color: white;
	background-color: rgb(34, 103, 252);
	font-size: 15px;
	font-weight: 600;
	border-radius: 6px;
	border: solid 1px #ffffff;
	width: 100px;
	height: 37px;
}

/*Paragrafo insira*/
#insira {
	font-size: 19px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 25px;
	margin-right: 75px;
	
	
}

/*Paragrafo encontre*/
#encontre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	font-weight: 700;
	margin-right: 310px;
	margin-top: 30px;

}

/*Barras superior de email e senha*/
#email-senha{
	margin-left: 825px;
	margin-top: -65px;
}

/*Barra de email superior*/
#email {
	width: 210px;
	height: 42px;
	font-size: 15px;
	border-radius: 6px;
	border: solid 1px #b1b1b1;
}

/*Barra de senha superior*/
#senha {
	width: 210px;
	height: 42px;
	font-size: 15px;
	border-radius: 6px;
	border: solid 1px #b1b1b1;
}

/*Botão de entrar superior*/
#entrar {
	color: white;
	background-color: rgb(34, 103, 252);
	font-size: 14px;
	border-radius: 6px;
	border: solid 1px #ffffff;
	width: 60px;
	height: 42px;
	font-weight: 700;
}

/*rodapé*/
footer {
	float: right;
	margin-top: 470px;
	margin-right: 460px;
	display: block;
	text-align: left;
	position: absolute;
	background-color: rgb(250, 250, 250);
    width: 1349px;
	height: 250px;
	box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.377);
	border-radius: 2%;
}

/*letras do rodapé*/
#letras-rodape {
	margin-left: 138px;
	margin-top: 130px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(95, 95, 95, 0.829);

}

